<div class="container">

    
        
        <div class="flex flex-row flex-wrap ">
            <div class="flex flex-column w-30rem h-30rem">
            
            
                <mat-form-field appearance="outline">
                    <mat-label>Codigo curso</mat-label>
                    <input type="number" matInput placeholder="codigo del curso">
                </mat-form-field>
            
                <mat-form-field appearance="outline">
                    <mat-label>Nombre del curso</mat-label>
                    <input type="text" matInput placeholder="Nombre del curso">
                </mat-form-field>
                    
                <mat-form-field appearance="outline">
                    <mat-label>Profesor asignado</mat-label>
                    <input type="text" matInput placeholder="Profesor asignado">
                </mat-form-field>
            
                <div class=" d-flex justify-content-center">
                    <button mat-button mat-flat-button color="primary" class="w-12rem">
                        <mat-icon>save_as</mat-icon>
                        Crear curso
                    </button>
                </div>
            
                
            
            </div>
            
        </div>

            
            
        
    

</div>