<div class="container">
    <div class="flex flex-row flex-wrap">
        <div class="flex flex-column w-30rem h-20rem">

            <h3>Iniciar sesión</h3>
            <span *ngIf="passwordIncorrecta" class="form-text text-danger">
                Verifique sus credenciales
            </span>
            <form [formGroup]="myForm" (ngSubmit)="onLogin()">
                <mat-form-field appearance="outline">
                    <mat-label>Codigo de usuario</mat-label>
                    <input formControlName="usuario" type="text" matInput placeholder="Ingrese codigo de usuario">
                </mat-form-field>

                <span *ngIf="isValidField('usuario')"
                    class="form-text text-danger">
                    {{ getFieldError('usuario') }}
                </span>
            
                    <mat-form-field appearance="outline">
                      <mat-label>Contraseña</mat-label>
                      <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" placeholder="Ingresar contraseña">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                    
                    <span *ngIf="isValidField('password')"
                          class="form-text text-danger">
                       {{ getFieldError('password') }}
                    </span>
            
                <button mat-button mat-flat-button color="primary" type="submit">
                    <mat-icon>save_as</mat-icon>
                    Ingresar
                </button>
            
                <div class="flex justify-content-end mt-5">
                    <a routerLink="/auth/cambioPassword">Cambiar contraseña</a>
                </div>
            </form>
        
        </div>
    </div>
</div>
