<div class="container">

    
        
    <div class="flex flex-row flex-wrap ">
        <div class="flex flex-column w-30rem h-30rem">
        
        
            <mat-form-field appearance="outline">
                <mat-label>Codigo usuario</mat-label>
                <input type="number" matInput placeholder="codigo usuario">
            </mat-form-field>
        
            <mat-form-field appearance="outline">
                <mat-label>Nombre de usuario</mat-label>
                <input type="text" matInput placeholder="Nombre de usuario">
            </mat-form-field>
                
            <mat-form-field appearance="outline">
                <mat-label>Elige rol de usuario</mat-label>
                <mat-select>
                  <mat-option value="estudiante"> Estudiante </mat-option>
                  <mat-option value="profesor">Profesor</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput placeholder="Contraseña">
            </mat-form-field>
        
            <div class=" d-flex justify-content-center">
                <button mat-button mat-flat-button color="primary" class="w-12rem">
                    <mat-icon>save_as</mat-icon>
                    Crear usuario
                </button>
            </div>
        
            
        
        </div>
        
    </div>

        
        
    


</div>

        
    
        
    
        
    