<div class="container">
    <div class="row mt-5">

        <div class="col-6" *ngFor="let curso of cursos; let index = index">
            <mat-card class="example-card" (click)="enviarACurso(curso.nombreCurso)">
                <img [src]="asignarImagen()" alt="Photo of a Shiba Inu" style="height: 200px;" >
                <mat-card-content>
                  <h4>{{curso.codigo}} - {{curso.nombreCurso | titlecase}}</h4>
                </mat-card-content>
              </mat-card>     
        </div>

    </div>

</div>