<div class="container mt-5">

    <div class="row">

            <button mat-fab extended color="primary" class="mr-3" (click)="addUsuario=true">
              <mat-icon>person_add</mat-icon>
              Añadir estudiantes
            </button>
        
            <button mat-fab extended color="primary" (click)="addNota=true">
              <mat-icon>add_notes</mat-icon>
              Añadir nueva nota
            </button>

            <!-- formulario para añadir estudiantes -->
            
            <form [formGroup]="myForm" (ngSubmit)="onSave()" *ngIf="addUsuario">
              <div class="flex flex-column w-30rem h-30rem">
                  
                  <span *ngIf="isValidField('seleccionarEstudiante')"
                        class="form-text text-danger">
                          {{ getFieldError('seleccionarEstudiante') }}
                 </span>
                 <mat-form-field appearance="outline">
                    <mat-label>Elige usuario para añadir</mat-label>
                    <mat-select formControlName="seleccionarEstudiante">
                       <mat-option [value]="usuario.nombre" *ngFor="let usuario of usuarios"> {{usuario.nombre}} </mat-option>
                    </mat-select>
                 </mat-form-field>

          
                 <div class=" d-flex justify-content-center">
                    <button mat-button mat-flat-button color="primary" class="w-12rem" type="submit">
                       <mat-icon>save_as</mat-icon>
                        Añadir usuario
                    </button>
                 </div>
              
              
              </div>
          </form>

          <!-- formulario para añadir notas -->
          <form [formGroup]="myForm2" (ngSubmit)="guardarNota()" *ngIf="addNota">
            <div class="flex flex-column w-30rem h-30rem">
                
                <span *ngIf="isValidField2('tipoNota')"
                      class="form-text text-danger">
                        {{ getFieldError2('tipoNota') }}
               </span>
               <mat-form-field appearance="outline">
                  <mat-label>Elige el tipo de la nota</mat-label>
                  <mat-select formControlName="tipoNota" >
                     <mat-option *ngFor="let tipo of tiposNota" [value]="tipo.nombre"> {{tipo.nombre}} </mat-option>
                  </mat-select>
               </mat-form-field>

                <span *ngIf="isValidField2('porcentaje')"
                      class="form-text text-danger">
                        {{ getFieldError2('porcentaje') }}
               </span>
               <mat-form-field appearance="outline">
                  <mat-label>Porcentaje para la nota</mat-label>
                  <input type="text" matInput placeholder="Ingrese porcentaje" formControlName="porcentaje">
               </mat-form-field>
        
               <div class=" d-flex justify-content-center">
                  <button mat-button mat-flat-button color="primary" class="w-12rem" type="submit">
                     <mat-icon>save_as</mat-icon>
                      Agregar nota
                  </button>
               </div>
            
            
            </div>
        </form>
    
    </div>
</div>