<mat-toolbar color="primary">
  <img class="logo" routerLink="/admin/admin" [src]="'assets/fianlpng.png'" alt="logo">
<span class="spacer"></span>
<span routerLink="/admin/createUser">Crear Usuarios</span>
<span class="ml-7" routerLink="/admin/createCourse">Crear Cursos</span>
<span class="ml-7" routerLink="/admin/deleteUser">Eliminar Usuarios</span>
<span class="ml-7" routerLink="/admin/deleteCourse">Eliminar Curso</span>
<span class="ml-7" routerLink="/admin/generateReports">Generar Reportes</span>
<span class="ml-7 mr-3" routerLink="/auth/login">LOGO USER</span>
</mat-toolbar>
  <router-outlet/>
